.roomCode {
  height: 48px;
  display: flex;

  border: 1px solid #816bc5;
  border-radius: 12px;
  padding: 0;
  background-color: #d3cdde;

  cursor: pointer;
  overflow: hidden;

  div {
    display: flex;
    padding: 0 14px;
    background-color: #816bc5;
  }

  span {
    padding: 14px;
    text-align: center;
    
    font-size: 0.9rem;
    font-weight: 500; 
  }
}