.roomCode {
  display: flex;

  border: 1px solid #7A60C8;
  border-radius: 12px;
  padding: 0;
  background-color: #d3cdde;

  cursor: pointer;
  overflow: hidden;

  div {
    display: flex;
    padding: 0 14px;
    background-color: #7A60C8;
  }

  span {
    height: 100%;
    padding: 14px;
    @media (max-width: 500px) { padding: 14px; }

    text-align: center;
    
    font-size: 0.85rem;
    font-weight: 500; 
  }
}